section {
    margin-top: 5px;
}
.open {
    background: white;
    padding: 4px;
    border-radius: 4px;
}

.closed {
    background: #00ceff;
    padding: 4px;
    color: white;
    border-radius: 4px;
}

#more {
    background: white;
}
