section {
    margin-top: 8px;
}

.open {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: solid 6px #e6f6e4;
    cursor: pointer;
}

.closed {
    padding: 5px;
    border-radius: 5px;
    border: solid 6px white;
    cursor: pointer;
}

#more {
    background: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

