doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')

        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/js/vendor/lodash.min.js')

        script(type='text/javascript', src='/campaign/gegotrex.js')

        title German Government Third-parties

    body.fontnice.core(onload="init();")

        h3 WELCOME! this is a PROTOTYPE in DEVELOPMENT. Suggestion? open an 
            a(href="https://github.com/trackling-exposed/gegotrex/issues") ticket
            |.

        .container-fluid#results
        
        h4 The list is derived from 
            a(href="https://github.com/robbi5/german-gov-domains") robbi5/german-gov-domains
            |, made by 
            a(href="https://robbi5.de/") Maximilian Richt
            |: Thanks for that.
